// Basicos
@import './basicos/fuente.scss';

// Paginas
@import './paginas/index.scss';
@import './paginas/menu-choperas.scss';

// Disposiciones
@import './disposiciones/footer.scss';
@import './disposiciones/header.scss';