footer{
    background-color: rgb(30, 30, 30);
    img{
        width: 10%;
    }
    margin-top: 100px;
    div{
        a{
            text-decoration: none;
            padding: 20px;
            color: white;
            transition: all 1s ease;
            &:hover{
                text-decoration: underline;
                color: orange;
                transition: all 1s ease;
            }
        }
    }
}

@media (min-width: 0px) and (max-width: 576px){
    footer{
        background-color: rgb(30, 30, 30);
        img{
            width: 40%;
            padding: 0;
        }
        margin-top: 100px;
        p{
            font-size: 12px;
        }
        div{
            p{
                font-size: 10px;
                text-align: center;
            }
            a{
                text-decoration: none;
                color: rgb(255, 174, 0);
                transition: all 1s ease;
                padding: 10px;
                &:hover{
                    text-decoration: underline;
                    color: rgb(255, 255, 255);
                    transition: all 1s ease;
                }
            }
        }
    }
}